.details {
    padding: 25%;
    text-align: center;
    font-size: small;
    background-color:#d8e3e6;
}

.itemImage {
    width: 278px;
    height: 278px;
    display: inline-block;
    background: #F5F8FA;
}

.messageButton {
    color: white;
    background-color: darkslategray;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 25px;
} 

.homeButton {
    scroll-padding-top: 40;
    padding-top: 2;
    color: white;
    background-color: goldenrod;
    width: 20%;
}

.seller {
    text-size-adjust: 15%;
}